* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, black, purple);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    margin-top: 6vh;
    text-align: center;
}

.container h1 {
    color: white;
    margin: 2vh 2vw;
}

.container input {
    width: 30vw;
    padding: 1rem;
    font-size: 1.5rem;
    border: none;
    outline: none;
    border-radius: .8rem;
    text-align: center;
}

.container input::placeholder {
    font-size: 1.2rem;
}

.container button {
    width: 12vw;
    font-size: 1.5rem;
    padding: .8rem;
    border: none;
    border-radius: .8rem;
    margin-top: 1.5rem;
}

.list-items {
    width: 90vw;
    margin-top: 2rem;
    padding: 1rem;
}

ol {
    margin-top: 1.5rem;
    color: white;
}

ol li {
    font-size: 2rem;
    flex-wrap: wrap;
    margin: 20px;
}

input[type=checkbox] {
    transform: scale(3);
    float: right;
    margin-left: 6vw;
    margin-top: 3vh;
}

@media screen and (max-width:480px) {
    .container {
        width: 90vw;
    }
    .container input {
        padding: .5rem .8rem;
        width: 80%;
    }
    .container button {
        width: 50%;
        padding: .5rem 0;
    }
    .list-items {
        width: 90vw;
    }
    .list-items ol li {
        font-size: 1.6rem;
        text-align: left;
    }
    input[type=checkbox] {
        transform: scale(2);
        margin-top: 1.6vh;
        margin-left: 8vw;
    }
}