@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;0,700;1,300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    text-decoration: none;
}

:root {
    --main-color: #8F3BFF;
    --bg-color-1: #201D25;
    --bg-color-2: #201F35;
    --font-color-1: #FFFFFF;
    --font-color-2: #E2CBFF;
}

body {
    background-color: var(--bg-color-1);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    margin-top: 6vh;
    text-align: center;
}

.container h1 {
    color: white;
    margin: 2vh 2vw;
    font-size: 3rem;
}

.container input {
    width: 30vw;
    padding: 1rem;
    font-size: 1.5rem;
    border: none;
    outline: none;
    border-radius: .8rem;
    text-align: center;
}

.container input::placeholder {
    font-size: 2rem;
}

.container button {
    width: 12vw;
    font-size: 1.5rem;
    padding: .8rem;
    border: none;
    border-radius: .8rem;
    margin-top: 1.5rem;
}

.list-items {
    width: 90vw;
    margin-top: 2rem;
    padding: 1rem;
}

ol {
    margin-top: 1.5rem;
    color: white;
}

ol li {
    font-size: 2.5rem;
    margin: 2rem;
    background-color: var(--bg-color-2);
    padding: 5rem 5rem 3rem 10rem;
    border-radius: 1rem;
    position: relative;
}

input[type=checkbox] {
    transform: scale(2);
    float: left;
    margin: 3rem;
    position: absolute;
    top: 0;
    left: 0;
}

#trashCan i {
    display: none;
}

.bxs-trash {
    font-size: 2vw;
}

.dltKey {
    padding: .5rem;
    float: right;
    border: none;
    border-radius: .8rem;
    background-color: var(--bg-color-2);
    color: white;
    cursor: pointer;
    width: 5%;
    position: absolute;
    top: 5;
    left: 0;
    margin-top: 1rem;
}

@media (max-width:480px) {
    .container {
        width: 90vw;
    }
    .container input {
        padding: .5rem .8rem;
        width: 80%;
    }
    .container button {
        width: 50%;
        padding: .5rem 0;
    }
    .list-items {
        width: 100%;
    }
    .list-items ol li {
        font-size: 1.6rem;
        text-align: left;
    }
    input[type=checkbox] {
        transform: scale(1.5);
        margin-top: 1.6vh;
        margin-left: 8vw;
    }
    .bxs-trash {
        font-size: 7.5vw;
        margin-left: 1.6rem;
    }
    input[type=checkbox] {
        transform: scale(2);
        float: left;
        margin: 3rem;
        position: absolute;
        top: 0;
        left: 0;
    }
}